* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #101010;
}
body {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

/* NAVBAR  */
header {
  min-height: 10vh;
  display: flex;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
}
.logo h2 {
  font-family: "Russo One", sans-serif;
  color: #1cff68;
}
.burger {
  display: flex;
  flex-direction: column;
}
.burger span {
  border: 1px solid #ffffff;
}
.span1,
.span2,
.span3 {
  width: 30px;
  margin-bottom: 0.3rem;
}

/* HERO SECTION  */
.hero {
  min-height: 100vh;
  display: flex;
}
.personal-details {
  width: 90%;
  margin: auto;
}
